@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@{
    ViewData["Title"] = string.Empty;
    var years = DateTime.Now.Year - 2008;
}
<style type="text/css">
    .skills-list {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(370px, 1fr));
        width: 100%;
    }

    .skills-list-item {
        text-align: left;
        padding: 0 15px 20px 15px;
    }
</style>
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>About</h2>
            <p>
                I am an experienced Team Lead and Software Engineer with a demonstrated history over more than @years years of professional experience.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-3 text-center">
                <img src="~/img/pat_2021.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-9 pt-4 pt-lg-0 content">
                <h3>Team Lead &amp; Software Engineer</h3>
                <p class="font-italic">
                    While I have experience in a variety of programming languages, methodologies and techniques, my primary focus is with Microsoft technologies.
                    I hold a number of active certifications issued by Microsoft.
                </p>
                <div class="row">
                    <div class="col-lg-12">
                        <ul>
                            <li><i class="fas fa-check"></i> Microsoft Certified Professional (F624-0566)</li>
                            <li><i class="fas fa-check"></i> Microsoft Specialist: Programming in C# (F624-0568)</li>
                            <li><i class="fas fa-check"></i> Microsoft Certified Solutions Associate: Web Applications (<a href="https://www.youracclaim.com/badges/3a4ab4d9-5148-42a1-ab1f-9865a5cdf270" target="_blank">F841-3283</a>) <sup>* Charter Member</sup></li>
                            <li><i class="fas fa-check"></i> Microsoft Certified Solutions Developer: App Builder (<a href="https://www.youracclaim.com/badges/dfb0003e-24e5-49d7-8781-6725f8dc6585" target="_blank">F981-4744</a>)</li>
                            <li><i class="fas fa-check"></i> Microsoft Certified Solutions Developer: Web Applications (F981-4743)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="facts" class="facts">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Facts</h2>
            <p>Some numbers from my career to-date.</p>
        </div>

        <div class="row facts-content">
            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="fas fa-users"></i>
                    <span id="counter-up-years" data-num="@years"></span>
                    <p>Years Experience</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                    <i class="fas fa-building"></i>
                    <span id="counter-up-clients" data-num="50"></span>
                    <p>Unique Clients</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="fas fa-user"></i>
                    <span id="counter-up-engineers" data-num="75"></span>
                    <p>Engineers Led</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                    <i class="fas fa-laptop-code"></i>
                    <span id="counter-up-hours" data-num="12000"></span>
                    <p>Consulting Hours</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="skills" class="skills section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Key Technologies</h2>
            <p>I've worked with an assortment of technologies, frameworks and services over the years.</p>
        </div>

        <div class="row skills-content">
            <ul class="skills-list">
                <li class="skills-list-item progress">
                    <span class="skill"><i class="fab fa-html5"></i> HTML / XHTML / XML <span class="val">@years Yrs</span></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@years" aria-valuemin="0" aria-valuemax="@years"></div>
                    </div>
                </li>
                <li class="skills-list-item progress">
                    <span class="skill"><i class="fab fa-css3-alt"></i> CSS <span class="val">@years Yrs</span></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@years" aria-valuemin="0" aria-valuemax="@years"></div>
                    </div>
                </li>
                <li class="skills-list-item progress">
                    <span class="skill"><i class="fab fa-js-square"></i> JavaScript / jQuery <span class="val">@years Yrs</span></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@years" aria-valuemin="0" aria-valuemax="@years"></div>
                    </div>
                </li>
                <li class="skills-list-item progress">
                    <span class="skill"><i class="fab fa-git-alt"></i> Source Control / Git / TFS <span class="val">@years Yrs</span></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@years" aria-valuemin="0" aria-valuemax="@years"></div>
                    </div>
                </li>
                <li class="skills-list-item progress">
                    <span class="skill"><i class="fab fa-php"></i> PHP <span class="val">@years Yrs</span></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@years" aria-valuemin="0" aria-valuemax="@years"></div>
                    </div>
                </li>
                <li class="skills-list-item progress">
                    <span class="skill"><i class="fab fa-microsoft"></i> C# / VB.NET / C#.NET <sup>* Core &amp; Framework</sup> <span class="val">@(years - 2) Yrs</span></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@(years - 2)" aria-valuemin="0" aria-valuemax="@years"></div>
                    </div>
                </li>
                <li class="skills-list-item progress">
                    <span class="skill"><i class="fas fa-database"></i> SQL / T-SQL / MySQL <span class="val">@(years - 2) Yrs</span></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@(years - 2)" aria-valuemin="0" aria-valuemax="@years"></div>
                    </div>
                </li>
                <li class="skills-list-item progress">
                    <span class="skill"><i class="fas fa-cloud"></i> Azure <span class="val">@(years - 6) Yrs</span></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@(years - 6)" aria-valuemin="0" aria-valuemax="@years"></div>
                    </div>
                </li>
                <li class="skills-list-item progress">
                    <span class="skill"><i class="fab fa-jira"></i> Project Lead / Jira / Azure DevOps <span class="val">@(years - 6) Yrs</span></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@(years - 6)" aria-valuemin="0" aria-valuemax="@years"></div>
                    </div>
                </li>
                <li class="skills-list-item progress">
                    <span class="skill"><i class="fab fa-aws"></i> AWS <span class="val">@(years - 9) Yrs</span></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@(years - 9)" aria-valuemin="0" aria-valuemax="@years"></div>
                    </div>
                </li>
                <li class="skills-list-item progress">
                    <span class="skill"><i class="fas fa-project-diagram"></i> NoSQL / DynamoDB / ComsosDB <span class="val">@(years - 9) Yrs</span></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@(years - 9)" aria-valuemin="0" aria-valuemax="@years"></div>
                    </div>
                </li>
                <li class="skills-list-item progress">
                    <span class="skill"><i class="fab fa-docker"></i> Docker <span class="val">@(years - 9) Yrs</span></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="@(years - 9)" aria-valuemin="0" aria-valuemax="@years"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Resume</h2>
            <p>The most complete and up-to-date source for my career history is on <a class="linkedin" href="https://www.linkedin.com/in/patmacmannis/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a>.</p>
        </div>

        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                    <h4>Patrick MacMannis</h4>
                    <p>
                        <em>
                            Experienced leader and software engineer with over @years years experience. Three-time guest speaker at Saint Vincent College:
                        </em>
                    </p>
                    <ul>
                        <li>
                            Spring 2013 - "What's New with HTML5?"
                        </li>
                        <li>
                            Fall 2018 - "Object Oriented Programming"
                        </li>
                        <li>
                            Fall 2019 - "Best Programming Practices"
                        </li>
                    </ul>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Bachelor of Arts - History</h4>
                    <h4>Certificate in Computer &amp; Information Sciences</h4>
                    <h5>2006 - 2010</h5>
                    <p><em>Saint Vincent College, Latrobe, PA</em></p>
                </div>

                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                    <h4>Engineering Lead of the Loyalty and Offers Product Lines</h4>
                    <h5>2018 - Present</h5>
                    <p><em>SessionM, A Mastercard Company, Pittsburgh, PA </em></p>
                    <ul>
                        <li>Engineering Lead of the Loyalty and Offers Product Lines from Feb 2021 to present. Senior and Lead Software Engineer prior.</li>
                        <li>Inherited a team of 8 direct reports and maintained the lowest team turnover and hired 3 engineers.</li>
                        <li>Assumed ownership for multiple key domains that power the backbone of SessionM's infrastructure.</li>
                        <li>Architected multiple components involving security and performance to ensure TPS requirements were met.</li>
                        <li>Acted as business and client facing representative of the engineering team to reduce scope creep and keep multiple feature tracks on schedule.</li>
                        <li>Performed code reviews on proposed solutions and provided thoughtful and constructive feedback for engineers of all skill levels.</li>
                    </ul>
                </div>
                @*<div class="resume-item">
                    <h4>Co-Founder / Software Engineer</h4>
                    <h5>2020 - Present</h5>
                    <p><em>Dream Invent Inspire, Inc., Pittsburgh, PA</em></p>
                    <ul>
                        <li>Co-founded Dream Invent Inspire with our Plant UML based collaborative editor.</li>
                        <li>Designed, developed and tested major components of the application.</li>
                        <li>Redesigned the infrastructure to accommodate horizontal scaling and state management via Service Fabric.</li>
                        <li>Developed integrations to multiple third-party APIs.</li>
                        <li>Optimized application code and workflows to maximize performance and cost reduction to maintain scalability and profitability.</li>
                    </ul>
                </div>*@
                <div class="resume-item">
                    <h4>Owner / Software Engineer</h4>
                    <h5>2008 - Present</h5>
                    <p><em>tuple.pro, Greensburg, PA</em></p>
                    <ul>
                        <li>Designed, developed, deployed and maintained multiple websites and applications for various clients.</li>
                        <li>Provided dynamic solutions for clients that met their needs both financially and functionally, including custom enterprise applications.</li>
                        <li>Created strong, long-term relationships with clients through clear communication and quick response times.</li>
                        <li>Developed a basic PHP MVC framework for small sites and a robust multi-tenant .NET CMS for larger projects.</li>
                        <li>Met with clients to understand their challenges and collaborate on planning a solution to fit their needs.</li>
                        <li>Performed deep application security audits and designed fixes to meet HIPAA and federal regulations.</li>
                        <li>Key clients include Kroll, Atlanta Falcons, Atlanta United FC, Mercedes-Benz Stadium, UPMC, Florida Healthy Kids and InSeeGo.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Lead Software Engineer</h4>
                    <h5>2016 - 2018</h5>
                    <p><em>Plus Consulting, Inc., Pittsburgh, PA</em></p>
                    <ul>
                        <li>Directly hired and managed 15 US-based engineers and QA team members.</li>
                        <li>Worked with engineers to improve continuous education practices and initiatives for a career-focused culture.</li>
                        <li>Performed code reviews on proposed solutions and provided thoughtful and constructive feedback.</li>
                        <li>Executed DevOps tasks for the entire team and streamlined branch management.</li>
                        <li>Administered the technical phone screen and code test for all prospective engineers.</li>
                        <li>Committed hundreds of fixes and features to codebases that reduced reoccurring bugs in the application.</li>
                        <li>Created a strong working relationship with the clients by communicating clearly and explaining technical concepts effectively to non-technical individuals.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Senior Software Engineer</h4>
                    <h5>2015 - 2016</h5>
                    <p><em>Black Box Network Services, Lawrence, PA</em></p>
                    <ul>
                        <li>Vocal contributor in the design, development, testing and support of a new e-commerce site.</li>
                        <li>Design and implemented advanced real time search with another engineer using SOLR.</li>
                        <li>Coordinated team efforts with JIRA and provided additional organization via business requirements gathering.</li>
                        <li>Accelerated timeline of legacy features and debugging by providing in-depth analysis and completing groups of tickets in target areas.</li>
                        <li>Successfully completed legacy backlog months ahead of schedule with a clear and focused approach to development and planning.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Software Engineer</h4>
                    <h5>2013 - 2015</h5>
                    <p><em>ZAP Solutions, Inc., Pittsburgh, PA</em></p>
                    <ul>
                        <li>Quick learner with new technologies by researching and creating proof of concepts to test new features.</li>
                        <li>Created dozens of marketable features and incorporated them into the primary template to redistribute.</li>
                        <li>Worked with other departments to improve communication and cooperation to streamline development time.</li>
                        <li>Professional and timely assistance to clients on conference calls and live debugging sessions.</li>
                        <li>Successfully bridged the gap between non-technical clients and the development team.</li>
                    </ul>
                </div>
                <div class="resume-item">
                    <h4>Full Stack Developer</h4>
                    <h5>2012 - 2013</h5>
                    <p><em>Insight Marketing Solutions, Inc., Pittsburgh, PA</em></p>
                    <ul>
                        <li>Provided clients with up-to-date technologies and techniques to reach their desired result quickly and effectively.</li>
                        <li>Promoted proactive design and development rather than reactive development.</li>
                        <li>Contributed heavily to the redesign and development of the SaaS wellness platform.</li>
                        <li>Created entire websites from Photoshop files provided by clients.</li>
                        <li>Designed, developed, deployed and maintained multiple websites for various clients and in-house applications.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Portfolio</h2>
            <p>Here are just a handful of the projects I have worked on.</p>
        </div>

        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <ul id="portfolio-filters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-web">Web Development</li>
                    <li data-filter=".filter-app">Application Upgrade</li>
                    <li data-filter=".filter-db">Database Development</li>
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/2-to-1.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Metragenix 2-to-1 Protein Bars</h4>
                        <p>Web Development</p>
                        <div class="portfolio-links">
                            <a href="~/img/portfolio/2-to-1-preview.png" data-gall="portfolioGallery" class="venobox" title="Metragenix 2-to-1 Protein Bars"><i class="fas fa-plus"></i></a>
                            <a href="/Home/PortfolioDetails/2to1" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="fas fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/therapartners.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>TheraPartners</h4>
                        <p>Web Development</p>
                        <div class="portfolio-links">
                            <a href="~/img/portfolio/therapartners-preview.png" data-gall="portfolioGallery" class="venobox" title="TheraPartners"><i class="fas fa-plus"></i></a>
                            <a href="/Home/PortfolioDetails/tp" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="fas fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/sourcing-services.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Sourcing Services</h4>
                        <p>Web Development</p>
                        <div class="portfolio-links">
                            <a href="~/img/portfolio/sourcing-services-preview.png" data-gall="portfolioGallery" class="venobox" title="Sourcing Services"><i class="fas fa-plus"></i></a>
                            <a href="/Home/PortfolioDetails/ss" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="fas fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/csem.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Center for Safety &amp; Environmental Management</h4>
                        <p>Application Upgrade</p>
                        <div class="portfolio-links">
                            <a href="~/img/portfolio/csem-preview.png" data-gall="portfolioGallery" class="venobox" title="Center for Safety & Environmental Management"><i class="fas fa-plus"></i></a>
                            <a href="/Home/PortfolioDetails/csem" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="fas fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/omhsmi.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Our Mission House Publishing</h4>
                        <p>Web Development</p>
                        <div class="portfolio-links">
                            <a href="~/img/portfolio/omhsmi-preview.png" data-gall="portfolioGallery" class="venobox" title="Our Mission House Publishing"><i class="fas fa-plus"></i></a>
                            <a href="/Home/PortfolioDetails/omh" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="fas fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-db">
                <div class="portfolio-wrap">
                    <img src="~/img/portfolio/isc.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Industrial Scientific</h4>
                        <p>Database Development</p>
                        <div class="portfolio-links">
                            <a href="~/img/portfolio/isc-preview.png" data-gall="portfolioGallery" class="venobox" title="Industrial Scientific"><i class="fas fa-plus"></i></a>
                            <a href="/Home/PortfolioDetails/is" data-gall="portfolioDetailsGallery" data-vbtype="iframe" class="venobox" title="Portfolio Details"><i class="fas fa-link"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="services" class="services">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Services</h2>
            <p>Here are just a few of the services I offer.</p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-blue">
                    <div class="icon">
                        <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                            <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                        </svg>
                        <i class="fas fa-code"></i>
                    </div>
                    <h4><a href="">Web Development</a></h4>
                    <p>Create a full stack solution for your web-based needs! I write all front, back and database code custom to your application.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-3 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
                <div class="icon-box iconbox-orange">
                    <div class="icon">
                        <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                            <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                        </svg>
                        <i class="fas fa-mobile-alt"></i>
                    </div>
                    <h4><a href="">Responsive Design</a></h4>
                    <p>Make sure your web application looks great on any device! I optimize all projects to take full advantage of the latest RWD techniques.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-3 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
                <div class="icon-box iconbox-pink">
                    <div class="icon">
                        <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                            <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                        </svg>
                        <i class="fas fa-tools"></i>
                    </div>
                    <h4><a href="">Application Upgrade</a></h4>
                    <p>Sometimes old faithful needs a tune-up! I will take on your outdated application and bring it up to spec with the latest technologies.</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-3" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box iconbox-yellow">
                    <div class="icon">
                        <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                            <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813"></path>
                        </svg>
                        <i class="fas fa-database"></i>
                    </div>
                    <h4><a href="">Database Development</a></h4>
                    <p>The most valuable resource for most businesses is information! I can create custom databases and reports to get you the data you need.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Testimonials</h2>
        </div>

        <div class="owl-carousel testimonials-carousel" data-aos="zoom-in" data-aos-delay="100">
            <div class="testimonial-item">
                <h3>Derek J.</h3>
                <h4>Chief Technology Officer</h4>
                <p>
                    <i class="fas fa-quote-left quote-icon-left"></i>
                    Pat is not only an incredibly talented full stack software engineer, he is also an incredibly talented, and well respected, engineering manager and leader. He possesses great communication skills and wields them well; beyond the internal engineering teams (where he excels), he really shines working with organizations outside of engineering, where he is able to logically break down and clearly articular problems and solutions and set teams up for success. I have had the good fortune and pleasure of working with Pat for over 5 years and 2 acquisitions and have seen his rare talent and experience shaped (I should say forged) in a SaaS startup of high scale, high stakes, high pressure and high growth, working with the biggest brands on the planet, and know he would be valued very highly in any software enterprise.
                    <i class="fas fa-quote-right quote-icon-right"></i>
                </p>
            </div>

            <div class="testimonial-item">
                <h3>Tom R.</h3>
                <h4>Director of Data Services &amp; Engineering</h4>
                <p>
                    <i class="fas fa-quote-left quote-icon-left"></i>
                    Patrick is not your typical engineer. The unsavvy among us may think his aversion to complexity means he is unskilled or uninformed. This cannot be further from the truth. Any engineer can take a complex problem and solve it with a complex solution. Patrick tries instead to solve the most complex problems with the simplest solutions, this is hard, combine his practical nature, and excellent communication skills and complete absence of ego makes him one of the most effective engineers and engineering leaders I have had the pleasure of working with.
                    <i class="fas fa-quote-right quote-icon-right"></i>
                </p>
            </div>

            <div class="testimonial-item">
                <h3>Joe R.</h3>
                <h4>Principal Architect</h4>
                <p>
                    <i class="fas fa-quote-left quote-icon-left"></i>
                    I worked with Pat for nearly two years on a Software Development contract. Pat was an excellent teammate and was the project lead. He was very easy to work with, a very knowledgeable developer and very responsive in clearing out any blockers for our team. Pat was extremely helpful in resolving any conflicts arising from client requests and resource allocation. He was willing to help with any of the concerns of anyone on the team. Good dude all around!! I would definitely work with him in any capacity again in the future and hope our paths will cross somewhere down the road.
                    <i class="fas fa-quote-right quote-icon-right"></i>
                </p>
            </div>

            <div class="testimonial-item">
                <h3>Tyler M.</h3>
                <h4>Software Engineering Team Lead</h4>
                <p>
                    <i class="fas fa-quote-left quote-icon-left"></i>
                    I had the privilege of working under Patrick as my tech lead in my first full time developer position after graduation. As my tech lead, Patrick was responsible for mentoring, leading, and coordinating the developers on our team as well keeping up with his own development workload. Patrick was competently able to juggle several different responsibilities. Patrick was always able to make time for more junior developers such as myself with whatever technical or interpersonal questions we had.
                    <i class="fas fa-quote-right quote-icon-right"></i>
                </p>
            </div>

            <div class="testimonial-item">
                <h3>Chris V.</h3>
                <h4>IT Program Manager (PMP, PMI-ACP, CSM)</h4>
                <p>
                    <i class="fas fa-quote-left quote-icon-left"></i>
                    I had the opportunity to work with Patrick on a large scale software project. Patrick demonstrated excellent leadership capabilities and drove all assigned tasks to completion. His ability to also resolve conflicts and issues in a timely manner was excellent. I would certainly recommend Patrick and I hope to work with him again in the future.
                    <i class="fas fa-quote-right quote-icon-right"></i>
                </p>
            </div>

            <div class="testimonial-item">
                <h3>Alec H.</h3>
                <h4>Senior Solutions Architect</h4>
                <p>
                    <i class="fas fa-quote-left quote-icon-left"></i>
                    Patrick is an excellent leader for our team. He possesses a rare mix of technical ability and strong business acumen. When issues or roadblocks have come up on projects I've worked on with Patrick, he has been our go to guy for getting everyone on the same page and getting the problems solved. He has consistently gone above and beyond for our customers, delivering timely solutions and meeting tight deadlines that have allowed their businesses to continue operating smoothly. Highly recommended!
                    <i class="fas fa-quote-right quote-icon-right"></i>
                </p>
            </div>

            <div class="testimonial-item">
                <h3>Louetta O.</h3>
                <h4>Web Development Manager</h4>
                <p>
                    <i class="fas fa-quote-left quote-icon-left"></i>
                    Patrick was a key member of our development team. He was willing to do what it takes to deliver projects on time and within budget. I would gladly work with him again if given the opportunity.
                    <i class="fas fa-quote-right quote-icon-right"></i>
                </p>
            </div>

            <div class="testimonial-item">
                <h3>Mandee E.</h3>
                <h4>Assistant Director, Digital Strategy</h4>
                <p>
                    <i class="fas fa-quote-left quote-icon-left"></i>
                    Pat is extremely talented and always had an eye on the details which made him an asset for QA in our web projects. His energy and passion for web development helped the company provide a best-in-class web experience for our clients in a quick professional fashion.
                    He was proactive in helping me become a much better front-end web coder, and was always available after work hours for additional help in learning best practices in SEO & responsive web design. With these learnings I was able to work my way up to a front-end development position at Guardian Protection.
                    I have a great personal & professional respect for Pat and believe he was able to demonstrate that he was an ambitious leader and an amazing team player while working at the company.
                    <i class="fas fa-quote-right quote-icon-right"></i>
                </p>
            </div>

            <div class="testimonial-item">
                <h3>Gregory P.</h3>
                <h4>Director of Engineering</h4>
                <p>
                    <i class="fas fa-quote-left quote-icon-left"></i>
                    Patrick is a hardworking and focused individual who does what it takes to complete the required work in a timely manner while maintaining his attention to detail. He gives all the required information needed to make working with him easy and gratifying.
                    <i class="fas fa-quote-right quote-icon-right"></i>
                </p>
            </div>

            <div class="testimonial-item">
                <h3>Robert C.</h3>
                <h4>Independent Photography Professional</h4>
                <p>
                    <i class="fas fa-quote-left quote-icon-left"></i>
                    Pat is a problem solver dedicated to the client. His whatever it takes attitude is rare today. I have his number on speed dial. So should anyone needing his services.
                    <i class="fas fa-quote-right quote-icon-right"></i>
                </p>
            </div>
        </div>
    </div>
</section>