@model PM.Web.ViewModels.ProductDetailsVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" />
    <script src="https://kit.fontawesome.com/6a66ab6d65.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/owl.carousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="~/css/macmannisv4.css" />

    <style type="text/css">
        .portfolio-details {
            padding: 40px 0;
        }

            .portfolio-details .portfolio-title {
                font-size: 26px;
                font-weight: 700;
                margin-bottom: 20px;
            }

            .portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
                margin-top: 5px;
                text-align: center;
            }

            .portfolio-details .portfolio-details-carousel .owl-dot {
                display: inline-block;
                margin: 0 5px;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #ddd !important;
            }

                .portfolio-details .portfolio-details-carousel .owl-dot.active {
                    background-color: #355e3b !important;
                }

            .portfolio-details .portfolio-info {
                padding-top: 45px;
            }

                .portfolio-details .portfolio-info h3 {
                    font-size: 22px;
                    font-weight: 400;
                    margin-bottom: 20px;
                }

                .portfolio-details .portfolio-info ul {
                    list-style: none;
                    padding: 0;
                    font-size: 15px;
                }

                    .portfolio-details .portfolio-info ul li + li {
                        margin-top: 10px;
                    }

                .portfolio-details .portfolio-info p {
                    font-size: 15px;
                    padding: 15px 0 0 0;
                }

        @@media (max-width: 992px) {
            .portfolio-details .portfolio-info {
                padding-top: 20px;
            }
        }
    </style>
</head>
<body>
    <main>
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <h2 class="portfolio-title">@Model.Title</h2>
                        <div class="owl-carousel portfolio-details-carousel">
                            @foreach (var imageVm in Model.Images)
                            {
                                <img src="@imageVm.Uri.ToString()" class="img-fluid" alt="@imageVm.AltText" title="@imageVm.Title" />
                            }
                        </div>
                    </div>
                    <div class="col-lg-4 portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: @Model.Category</li>
                            <li><strong>Client</strong>: @Model.Client</li>
                            <li><strong>Project date</strong>: @Model.Date</li>
                            @if (Model.Uri != null)
                            {
                                <li><strong>Project URL</strong>: <a href="@Model.Uri.ToString()" target="_blank">@Model.Uri.ToString()</a></li>
                            }
                        </ul>
                        <p>
                            @Html.Raw(Model.Description)
                        </p>
                        @foreach (var tag in Model.Tags)
                        {
                            var styleAttr = !string.IsNullOrWhiteSpace(tag.Color) ? $"\" style=\"font-weight:normal;color:#fff;background-color:{tag.Color}" : "badge-primary";
                            <span class="badge @Html.Raw(styleAttr)"><i class="@tag.Icon"></i> @tag.Text</span>
                        }
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/lib/owl.carousel/owl.carousel.min.js"></script>

    <script type="text/javascript">
        !(function ($) {
            // Portfolio details carousel
            $(".portfolio-details-carousel").owlCarousel({
                autoplay: true,
                dots: true,
                loop: true,
                items: 1
            });
        })(jQuery);
    </script>
</body>
</html>